<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vue JS</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
  </head>
  <body>
    <div id="app">
      <button @click="increment(-1)" :disabled="count <= 0">-</button>
      <!-- Interpolation Mustache -->
      <span :title="title" class="font-bold" :class="{ 'text-green-500': count >= 15 }">{{ count }}</span>
      <button @click="increment(1)">+</button>

      <p v-if="count >= 10">{{ title.toUpperCase() }}</p>
      <div v-else>
        <p>No</p>
      </div>
      <h1 :['title']="user.name" @['click']="user.name = 'click'">{{ user.name }}</h1>
      <input type="text" v-model="user.name">
      <button @click="user = { name: 'Fiorella' }">Reset</button>
      <button @click="reset">Reset</button>

      <ul>
        <li v-for="(contact, index) in contacts" :key="index" :class="{ 'uppercase': contacts.length >= 3 }">
            {{ contact }}
            <input type="text" v-model="contacts[index]">
        </li>
      </ul>
      <p>Noms qui commencent par M: {{ contactsBeginWithM.length }}</p>
      <p>{{ contactsSummary }}</p>

      <input type="checkbox" id="c1" value="Toto" v-model="contacts">
      <label for="c1">Toto</label>
      <input type="checkbox" id="c2" value="Matthieu" v-model="contacts">
      <label for="c2">Matthieu</label>

      <ul>
        <li v-for="car in cars" :key="car.id">
            {{ car.name }}
        </li>
      </ul>

      <input type="checkbox" v-model="enabled">
      <button @click="toggle($event, 'toto')" :class="{ 'bg-blue-500': enabled }">
        {{ enabled ? 'Fermer' : 'Ouvrir' }}
      </button>

      <div>
        <input type="text" v-model="message">
        {{ message }} et l'inverse {{ reversedMessage }}
      </div>

      <input type="text" v-model="fullName">
      <p>{{ fullName }}</p>
      <p>Prénom: {{ firstname }}</p>
      <p>Nom: {{ name }}</p>
    </div>

    <script type="module">
      import { createApp, ref, computed, watch } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

      createApp({
        setup() {
          const count = ref(0);
          const user = ref({ name: 'Fiorella' });
          const title = 'Mon titre';
          const contacts = ref(['Matthieu', 'Marina']);
          const cars = ref([
            { id: 1, name: 'Renault' },
            { id: 2, name: 'Peugeot' },
          ]);
          const enabled = ref(true);
          const message = ref('Hello');
          const name = ref('Mota');
          const firstname = ref('Fiorella');
          const fullName = computed({
            get: () => `${firstname.value}${name.value ? ' ' + name.value : ''}`,
            set: (value) => {
              let names = value.split(' ');

              firstname.value = names[0] ?? '';
              name.value = names[1] ?? '';
            },
          });

          // const reversedMessage = () => {
          //  console.log('computed');
          //  return message.value.split('').reverse().join('');
          // };
          const reversedMessage = computed(() => {
            console.log('computed');
            return message.value.split('').reverse().join('');
          });
          const contactsBeginWithM = computed(() => {
            console.log('computed array');
            return contacts.value.filter(c => c[0]?.toLowerCase() === 'm');
          });
          const contactsSummary = computed(() => {
            return contactsBeginWithM.value.length + ' / 3';
          })
          const increment = (value) => {
            count.value += value
            user.value.name = 'Toto';
          };
          const reset = () => user.value = { name: 'Fiorella' };
          const toggle = (event, name) => {
            console.log(event);
            enabled.value = !enabled.value;

            // if (enabled.value) {
            //     setTimeout(() => enabled.value = false, 2000);
            // }
          }

          // On surveille le changement de la ref enabled
          watch(enabled, (newValue, oldValue) => {
            if (newValue) {
              setTimeout(() => enabled.value = false, 2000);
            }
          });

          watch(() => contacts.value.length, (newLength, oldLength) => {
            console.log(newLength, oldLength);
          }, { immediate: true }); // Se fait au chargement

          watch(contacts, (newValue) => {
            console.log(newValue);
          }, { deep: true }); // Surveille tous les changements du tableau

          return { firstname, name, fullName, count, increment, title, user, reset, contacts, cars, enabled, toggle, message, reversedMessage, contactsBeginWithM, contactsSummary };
        },
      }).mount('#app');
    </script>
  </body>
</html>
